body {
    width: 90%;
    max-width: 900px;
    margin: 32px auto;
    font-size: 19px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-gap: 20px;
}

header,
footer {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(207, 232, 220);
    border: 2px solid rgb(79, 185, 227);
}

aside {
    border-right: 1px solid #999;
}

header {
    grid-column: 1 / 13;
    grid-row: 1;
}

article {
    grid-column: 4 / 13;
    grid-row: 2;
}

aside {
    grid-column: 1 / 4;
    grid-row: 2;
}

footer {
    grid-column: 1 / 13;
    grid-row: 3;
}
